@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
:root {
  --primary-color: #682364;
  --secondary-color: #76d945;
}

*, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  color: #777;
  line-height: 1.6;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.grid-3 {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px;
}

.card {
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}

.text-center {
  text-align: center;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}

.lg {
  font-size: 3rem;
}

.lead {
  font-size: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.bg-primary,
.btn-primary {
  background-color: var(--primary-color);
  color: white;
}

.navbar {
  background-color: var(--secondary-color);
}

.navbar .container {
  background-color: var(--secondary-color);
  max-width: 978px;
  margin: 0 auto;
  padding: 0 40px;
}

.navbar .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .logo {
  background-color: #fff;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar ul li a {
  margin: 0 5px;
  padding: 10px;
  color: white;
  text-transform: uppercase;
}

.navbar ul li a:hover {
  border-bottom: 2px solid #fff;
}

.showcase {
  background-color: #76d945;
  height: 400px;
  color: #fff;
  position: relative;
}

.showcase::before, .showcase::after {
  content: '';
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: var(--secondary-color);
  -webkit-transform: skewY(-2deg);
          transform: skewY(-2deg);
}

.showcase .container {
  background-color: #b9a012;
}

.showcase .container .showcase-form {
  background-color: green;
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  justify-self: flex-end;
}

.showcase .grid {
  -ms-grid-columns: 55% 45%;
      grid-template-columns: 55% 45%;
  gap: 30px;
  overflow: visible;
}

.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
}

.stats {
  padding-top: 100px;
}

.stats .stats-heading {
  max-width: 500px;
  margin: auto;
}

.stats .grid h3 {
  font-size: 35px;
}

.stats .grid p {
  font-size: 20px;
  font-weight: bold;
}

.cli .grid {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
}

.cloud .grid {
  -ms-grid-columns: 4fr 3fr;
      grid-template-columns: 4fr 3fr;
}

.languages .card {
  text-align: center;
  margin: 18px 10px 40px;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  max-width: 107px;
  height: 150px;
}

.languages .card:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.languages .card h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.languages .flex {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer ul a {
  color: gray;
}

.footer .social a {
  margin: 0 10px;
  padding: 17px 10px 7px;
}

.footer .social a:hover {
  background-color: var(--primary-color);
  border-radius: 30%;
  color: white;
}

@media (max-width: 768px) {
  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid,
  .features-main .grid,
  .docs-main .grid,
  .footer .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .showcase {
    height: auto;
  }
  .showcase .showcase-text {
    text-align: center;
    margin-top: 40px;
  }
  .showcase .showcase-form {
    -ms-grid-column-align: center;
        justify-self: center;
    margin: auto;
  }
  .cli .grid > *:first-child {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .footer {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .navbar {
    height: 110px;
  }
  .navbar .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar ul {
    padding: 10px 0 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
/*# sourceMappingURL=style.css.map */